a {
    color: #005BA8;
    text-decoration: none;
    font-weight: 600;
}

a.title { 
    color: #354B5E;
}

.masthead a {
    color: white;
}

a:hover {
    color: #5984A8;
}

body {
     font-family: 'Open Sans', Helvetica, Arial, sans-serif; 
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.entry {
    line-height: 150%;
}

.content h1, .content h2, .content h3, .content h4 { 
    color: #354B5E;
} 

.header {
    background-color: #333333;
}

.masthead {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 0.25em;
    color: #AAAAAA;
    max-width: 800px
}

.masthead ul {
    margin: 0px;
    float:right;
    line-height: 1.5em;
}

.masthead ul li{
    display: inline;
    list-style-type: none;
    padding-left: 0.5em;
}

h1, h2, h3  {
    margin-top: 0em;
    margin-bottom: 0em;
    font-family: 'Roboto Slab';
    font-weight: normal;
}

h1 a, h2 a, h3 a {
    font-weight: normal;
}

h2 {
    line-height: 1em;
}

.post-excerpt {
    line-height: 150%;
    margin-left: 1.5em;
}

.recent-post {
    list-style: none;
    margin-bottom: 1em;
}

.recent-post .post-meta {
    margin-bottom: .5em;
}

.intro {
    padding-bottom: 1em;
    border-bottom: solid 1px #333333;
}

.content {
    margin: 1em;
    padding: 0.5em;
    background: white;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

dt {
    font-weight: bold;
}

.images {
    text-align: center;
}

.images img {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.social img {
    margin-right: 5px;
}

.twitter {
    background-color: hsla(196,100%,46%,.6);
}

.twitter:hover {
    background-color: hsl(196,100%,46%);
}

.github {
    background-color: hsla(210,53%,51%,.6);
}

.github:hover {
    background-color: hsl(210,53%,51%);
}

.goodreads {
    background-color: hsla(42,54%,23%,.6);
}

.goodreads:hover {
    background-color: hsl(42,54%,23%);
}

.rss {
    background-color: hsla(31,100%,50%,.6);
}

.rss:hover {
    background-color: hsl(31,100%,50%);
}

.console pre {
background-color:#222;
color:#CCC;
font-family:monospace;
padding-left: 2px;
padding-right: 2px;
text-wrap: none;
}

.highlight pre {
padding-left: 2px;
padding-right: 2px;
}

.console .error {
    color: red;
}

.console .prompt {
    color: yellow;
}

pre {
    background: #f8f8f8;
    border: 1px solid #d8d8d8; 
    overflow-x: auto;
    overflow-y: hidden;
    white-space: pre;
    word-wrap: normal;
    padding: 1px 1px 1px 1px;
}

blockquote {
    background: #f8f8f8;
}

.series {
    padding-left:.5em;
    padding-right:.5em;
    margin-left:2em;
    margin-right:2em;
    border:1px solid #EEE;
    background-color:#f8f8f8;
}

.post-excerpt .series {
    display:none;
}

#page-navigation {
    width: 100%;
}
#page-navigation div { display: inline-block }
#page-navigation div.next { 
    float: right; 
    max-width: 45% ;
}

#page-navigation div.previous { 
    max-width: 45%;
}

.post-meta {
    color: #666;
    font-size: 90%;
}

#page-comments { 
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background: #f8f8f8; 
}