@media screen and (min-width: 40.5em) {
}
html, body {
    margin: 0;
    padding: 0;
}


/* html, body { */
/*     margin: 0; */
/*     padding: 0; */
/*     height: 100%; */
/* } */

body, header {
    background-color: #EEEEEE;
}

a {
    text-decoration: none;
    color: DarkRed;
}

header nav ul li:first-child {
    margin-left: 0;
}

header nav ul li {
    display: inline-block;
    float: none;
    font-weight: bold;
    margin-left: 20px;
}