---
layout: default
---
<p class="intro">My name is Blair Conrad. Sometimes I write here about
things like <a href="http://www.libraryhippo.com/">LibraryHippo</a>
and unit testing
and <a href="http://fakeiteasy.github.io">FakeItEasy</a>.</p>

<ul style="list-style: none; padding-left: 0;">
{% for post in site.posts %}
<li class="recent-post">
  <h1><a class="title" href="{{ post.url }}">{{ post.title }}</a></h1>
    {% include post-meta.html %}
    <div class="post-excerpt">
      {{ post.excerpt | markdownify }}
    <a href="{{ post.url }}">read more&hellip;</a></div>
</li>
{% endfor %}
</ul>
