{% extends 'base.html' %}

{% block title %}
Page not found · {{ super() }}
{% endblock title %}

{% block main %}
<div class="m-container">
  <div class="m-row">
    <div class="m-col-m-12 m-nopadb">
      <article>
        <header>
          <h1>That page doesn't exist!</h1>
        </header>

        <p>Sorry, but the page you are looking for cannot be found. Maybe it was moved or deleted.</p>
        <p>The best thing to do is to use the search form or start again from the <a href="{{ SITEURL }}">home page</a>.</p>
      </article>
    </div>
  </div>
</div>
{% endblock main %}