      {% if article.series and article.series.name %}
      <aside class="m-block m-default">
        {% set text = SERIES_TEXT|default('Part %(index)s of the %(name)s series') %}
        <h3>{{ text|format(index=article.series.index, name=article.series.name) }}:</h3>
        <ol>
          {% for part_article in article.series.all %}
          {% set title = part_article.title.replace(article.series.name + " - ", "") %}
          <li>
            {% if part_article == article %}
            {{ title }} (this article)
            {% else %}
            <a href='{{ SITEURL }}/{{ part_article.url }}'>{{ title }}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ol>
      </aside>
      {% endif %}
