{% set page_slug = 'recipes' %}
{% extends 'base.html' %}

{% block title %}
All Recipes · {{ super() }}
{% endblock title %}

{% block main %}
<div class="m-container">
  <div class="m-row">
    <div>
      <article>
        <header>
          <h1>All Recipes</h1>
        </header>

        <ul>
            {% for page in pages | selectattr('template', '==', 'recipe') | sort(attribute='title') %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</li>
            {% endfor %}
        </ul>
      </article>
    </div>
  </div>
</div>
{% endblock main %}