@import url('https://fonts.googleapis.com/css?family=Fira+Code');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar,
#tipue_search_input,
.tipue_search_content_title {
    font-family: 'Oswald', 'Arial Narrow', Helvetica, sans-serif;
    font-weight: normal;
}

.highlight pre, code {
    font-family: 'Fira Code', monospace;
}

code {
    font-size: inherit;
    color: inherit;
    padding: inherit;
    background-color: inherit;
    border: 0;
    white-space: nowrap;
}

a, .entry-content a, #sidebar a, a:focus, a:hover, .tipue_search_content_url a, .tipue_search_content_url a:hover {
        color: firebrick;
    text-decoration: none;
    border-bottom: none;
}

.post-info i.fa {
    margin-left: 0.75em;
    margin-right: 0.25em;
}

.fa-goodreads-square:before {
  content: "\f02d";
}

#sidebar .list-group-item {
    padding-left: 3px;
    padding-right: 3px;
}

#sidebar .fa-home:before {
    content: "\f0c0";
}

#sidebar .fa-tags:before {
    content: "\f03a";
}

.post-info span {
    display: inline-block;
    white-space: nowrap;
}

.post-info {
    padding: 15px;
}

.entry-content .post-info {
    padding: 0px;
}