<div class="author-info">
    <img src="{{ site.author_image_path }}" class="author-image" />
    <h1 class="author-name"><a href="/">{{ site.author_name }}</a></h1>
    <div class="nav">
        <a href="{{ site.github_url }}"><i class="icon-github icon-large"></i></a>
        <a href="{{ site.twitter_url }}"><i class="icon-twitter icon-large"></i></a>
        <a href="{{ site.linkedin_url }}"><i class="icon-linkedin icon-large"></a></i>
        <a href="{{ site.feed_url }}"><i class="icon-rss icon-large"></i></a>
    </div>
    <p class="author-bio">{{ site.author_bio }}</p>
</div>
