@import url('https://fonts.googleapis.com/css?family=Fira+Code');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar,
#tipue_search_input,
.tipue_search_content_title {
    font-family: 'Oswald', 'Arial Narrow', Helvetica, sans-serif;
    font-weight: normal;
}

.highlight pre, code {
    font-family: 'Fira Code', monospace;
}

code {
    font-size: inherit;
    color: inherit;
    padding: inherit;
    background-color: inherit;
    border: 0;
    white-space: nowrap;
}

a, a:hover, a:active, a:focus,
footer p a, footer p  a:hover, footer p  a:active, footer p  a:focus {
    color: #677DB7;
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: none;
}

.entry-content a, .entry-content a:focus, .entry-content a:hover,
.tipue_search_content_url a, .tipue_search_content_url a:hover {
    color: #677DB7;
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: 1px dotted #677db7;
}

.post-info i.fa {
    margin-left: 0.75em;
    margin-right: 0.25em;
}

.fa-goodreads-square:before {
  content: "\f02d";
}

#sidebar .list-group-item {
    padding-left: 3px;
    padding-right: 3px;
}

#sidebar .fa-home:before {
    content: "\f0c0";
}

#sidebar .fa-tags:before {
    content: "\f03a";
}

.post-info span {
    display: inline-block;
    white-space: nowrap;
}

.post-info {
    padding: 0px;
}

.well-sm {
    border: none;
    background-color: inherit;
}

.navbar {
    background-color: #25274d;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #9CA3DB;
    background-color: #464866;
}

 #tipue_search_input{
    color: #9CA3DB;
    background-color: #464866;
 }

 ::placeholder {
    color: #aaabb8;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
    color: #9CA3DB;
}