beautifulsoup4
invoke
pelican[markdown]==4.2.0      # newer doesn't work with m.css - we lose articles with ansi
pelican-series-plugin==1.0.2  # newer doesn't work with pelican 4.2.0 - we lose series
